<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56265481836-bqrqbcf321n46r7tqdaia32vevo0len4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56265481836-bqrqbcf321n46r7tqdaia32vevo0len4</string>
	<key>API_KEY</key>
	<string>AIzaSyD1Po_iK0Y6HS0uYGBwhrip8d3IjDXr5VM</string>
	<key>GCM_SENDER_ID</key>
	<string>56265481836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.callumhoughton18.dalleMobileClient</string>
	<key>PROJECT_ID</key>
	<string>dalle-mini-client</string>
	<key>STORAGE_BUCKET</key>
	<string>dalle-mini-client.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56265481836:ios:98062948f57996c7440249</string>
</dict>
</plist>